/**
 * Breakpoints
 * *********************************/
/**
   * Container
   * *********************************/
/**
 * Responsive breakpoint
 * *********************************/
/* Desktop First */
/* Mobile First */
/* Between */
/* Mobile point */
/* Custom size */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 62.5em) {
  html {
    font-size: 56.25%;
  }
}

body {
  box-sizing: border-box;
  direction: rtl;
}
ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

input {
  border: none;
}
input:focus {
  outline: none;
}

.container {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
}
@media only screen and (max-width: 62.5em) {
  .container {
    max-width: 100rem;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 2rem;
}
.col-12 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.col-9 {
  width: 66.666%;
  float: left;
}
@media only screen and (max-width: 50em) {
  .col-9 {
    width: 100%;
  }
}

.col-6 {
  width: 50%;
  float: left;
}
@media only screen and (max-width: 50em) {
  .col-6 {
    width: 100%;
  }
}

.col-3 {
  width: 32%;
  float: left;
  margin: 0 0.5%;
}
@media only screen and (max-width: 50em) {
  .col-3 {
    width: 100%;
  }
}

.section {
  padding: 10rem 0;
}

@font-face {
  font-family: "iranYekan";
  src: url("../css/fonts/eot/iranyekanwebregular.eot");
  src: url("IRANSansWeb.eot?#iefix") format("embedded-opentype"), url("../css/fonts/woff/iranyekanwebregular.woff") format("woff"), url("../css/fonts/ttf/iranyekanwebregular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "iranYekan";
  src: url("../css/fonts/eot/iranyekanweblight.eot");
  src: url("iranyekanweblight.eot?#iefix") format("embedded-opentype"), url("../css/fonts/woff/iranyekanweblight.woff") format("woff"), url("../css/fonts/ttf/iranyekanweblight.ttf") format("truetype");
  font-style: normal;
  font-weight: light;
}
h4 {
  font-weight: 700;
  font-family: iranYekan;
}

body {
  font-weight: 400;
  line-height: 2;
  font-size: 1.5rem;
  font-family: iranYekan;
  color: #222f3e;
}

.heading-1 {
  font-size: 3.5rem;
}
@media only screen and (max-width: 37.5em) {
  .heading-1 {
    font-size: 2.5rem;
  }
}

.heading-2 {
  font-size: 2.5rem;
}
@media only screen and (max-width: 37.5em) {
  .heading-2 {
    font-size: 2rem;
  }
}

.heading-3 {
  font-size: 2rem;
}
@media only screen and (max-width: 37.5em) {
  .heading-3 {
    font-size: 1.7rem;
  }
}

.heading-sub {
  font-size: 1.5rem;
}
@media only screen and (max-width: 37.5em) {
  .heading-sub {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 50em) {
  .heading-main {
    text-align: center;
    margin-top: 4rem;
    padding: 4rem 0;
  }
}

[class*=-icon] {
  width: 2rem;
  height: 2rem;
  fill: #f9ca24;
}

::selection {
  background-color: #f9ca24;
  color: white;
}

.bullet {
  border-bottom: 1px solid #f1f2f6;
}

.mr-1 {
  margin-right: 1rem;
}

.mr-2 {
  margin-right: 2rem;
}

.mr-3 {
  margin-right: 3rem;
}

.mr-4 {
  margin-right: 4rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4rem !important;
}

.bg-orange {
  background-color: #f9ca24;
}

.bg-orange {
  background-color: #f9ca24;
}

.bg-black {
  background-color: #222f3e;
}

.bg-grey {
  background-color: #f6f6f6;
}

.circle-radius {
  border-radius: 12px;
}

.d-flex {
  display: flex;
}

.jc-sw {
  justify-content: space-between;
}

.jc-c {
  justify-content: center;
}

.fd-c {
  flex-direction: column;
}

.ai-c {
  align-items: center;
}

.fl-c {
  flex-direction: column;
}

.pd-1 {
  padding: 1rem 2rem;
}

.pd-2 {
  padding: 2rem 3rem;
}

.text-white {
  color: white;
}

.text-primary {
  color: #f9ca24;
}

.text-secondary {
  color: #3f4b58;
}

.text-black {
  color: #222f3e;
}

.text-black {
  color: #f6f6f6;
}

.hbf {
  position: relative;
}
.hbf::before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 3rem;
  height: 0.5rem;
  border-radius: 50px;
  background-color: #f9ca24;
  right: 0;
  bottom: -0.5rem;
}

.text-center {
  text-align: center;
}

.fw-200 {
  font-weight: 200;
}

.btn {
  border-radius: 4px;
  padding: 0.5rem 2rem;
  color: #f6f6f6;
  cursor: pointer;
  white-space: nowrap;
  position: relative;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 3px;
  transition: opacity 0.3s, background-color 0.3s, filter 0.3s, 0.3s box-shadow;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn + .btn {
  margin-top: 5px;
}
.btn__content {
  position: relative;
}
.btn__text {
  position: relative;
}
.btn--small {
  font-size: 12px;
  font-weight: 600;
  line-height: 12px;
  min-width: 70px;
}
.btn--medium {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  min-width: 100px;
}
.btn--block {
  margin-top: 0;
  display: block;
  width: 100%;
}
.btn--large {
  font-size: 17px;
  font-weight: 500;
  line-height: 20px;
  min-width: 120px;
}
.btn--disable {
  pointer-events: none;
  color: #b2b2b2 !important;
  background-color: #dcdcdc !important;
  box-shadow: none !important;
}
.btn--freeze {
  cursor: not-allowed;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn.btn--primary:not(.btn--outline) {
  color: #fff;
  background-color: #f9ca24;
  box-shadow: 0 2px 4px 0 rgba(249, 202, 36, 0.6);
}
.btn.btn--primary:not(.btn--outline):focus, .btn.btn--primary:not(.btn--outline):hover {
  box-shadow: 0 3px 8px 0 rgba(249, 202, 36, 0.6);
}
.btn.btn--primary.btn--outline {
  background-color: transparent;
  color: #f9ca24;
  box-shadow: inset 0 0 0 1px rgba(249, 202, 36, 0.4);
}
.btn.btn--primary.btn--outline:focus, .btn.btn--primary.btn--outline:hover {
  background-color: rgba(249, 202, 36, 0.08);
}
.btn.btn--secnodary:not(.btn--outline) {
  color: #fff;
  background-color: #222f3e;
  box-shadow: 0 2px 4px 0 rgba(34, 47, 62, 0.6);
}
.btn.btn--secnodary:not(.btn--outline):focus, .btn.btn--secnodary:not(.btn--outline):hover {
  box-shadow: 0 3px 8px 0 rgba(34, 47, 62, 0.6);
}
.btn.btn--secnodary.btn--outline {
  background-color: transparent;
  color: #3f4b58;
  box-shadow: inset 0 0 0 1px rgba(63, 75, 88, 0.4);
}
.btn.btn--secnodary.btn--outline:focus, .btn.btn--secnodary.btn--outline:hover {
  background-color: rgba(63, 75, 88, 0.08);
}

.ctPanel {
  color: white;
  padding: 3rem;
  width: 30rem;
  float: left;
  box-shadow: rgba(0, 0, 0, 0.094) 0px 0.2rem 1rem;
  background-color: #fff;
}
.ctPanel h3 {
  font-size: 1.3rem;
  font-weight: normal;
  border-bottom: 1px solid #fff;
  padding-bottom: 1rem;
}

.form > * {
  margin-top: 1rem;
}
.form__label {
  font-size: 1.2rem;
  color: #3f4b58;
}
.form__input {
  display: block;
  margin-top: 0.5rem;
  padding: 1rem 2rem;
  width: 100%;
  color: #222f3e;
  font-family: iranYekan;
  background-color: #eff1f2;
  border-radius: 4px;
}
.form__input:focus {
  outline: 1px solid rgba(63, 75, 88, 0.3);
}
.form__textarea {
  width: 100%;
  font-family: iranYekan;
  border: none;
  resize: none;
  padding: 0.5rem 1.5rem;
  min-height: 10rem;
  font-size: 1.4rem;
}
.form__textarea:focus {
  outline: 1px solid rgba(63, 75, 88, 0.3);
}

.block {
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.095);
  border-radius: 10px;
}
.block__title {
  font-weight: 100;
  font-size: 1.7rem;
  position: relative;
}
.block p {
  margin-top: 1rem;
  font-size: 1.4rem;
}

.img-fluid {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 4px;
}
.img-fluid-medium {
  width: 30% !important;
}
.img-fluid img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  object-fit: cover;
}
.img-fluid--addon {
  background-image: linear-gradient(to right bottom, #222f3e, #393939);
  color: white;
  padding: 1.5rem 2.5rem;
  border-radius: 50px;
  margin-top: -1rem;
  box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.25);
}
@media only screen and (max-width: 50em) {
  .img-fluid--addon {
    padding: 1rem 2rem;
  }
}

.representation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 10;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}
.representation__item {
  border-radius: 50%;
  width: 18rem;
  height: 18rem;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.095);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: white;
  display: grid;
}
.representation__img {
  width: 100%;
  object-fit: cover;
}
.representation .owl-nav {
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 100;
  display: none;
}
.representation .owl-nav .owl-next,
.representation .owl-nav .owl-prev {
  color: white;
  font-size: 4rem;
  background-color: transparent;
  outline: none;
  border: none;
  position: relative;
}
.representation .owl-nav .owl-next {
  position: absolute;
  left: 0;
}

.owl-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.owl-stage-outer {
  position: relative;
  z-index: 160;
  overflow: hidden;
  display: flex;
}

.owl-stage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.reviewPannel {
  padding: 15rem 10rem;
}
@media only screen and (max-width: 50em) {
  .reviewPannel {
    padding: 10rem 5rem;
  }
}

.review__item {
  color: white;
}
.review__item svg {
  width: 2rem;
  height: 2rem;
}

.review__button {
  border: 1px solid #dfe6e9;
  border-radius: 4px;
  padding: 1.5rem 3rem;
  width: 100%;
  font-size: 2rem;
  cursor: pointer;
  transition: 0.3s all ease;
}
.review__button:hover {
  background-color: #f1f2f6;
}
.review__button svg {
  width: 5rem;
  height: 5rem;
}

.review__create {
  background-color: #f1f2f6;
  width: 100%;
  padding: 1.5rem 3rem;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  position: relative;
  z-index: 5;
  transform: translateY(-100%);
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: height 1.5s, opacity 0.1s, visibility 0.5s, transform 1s;
}
.review__create.active {
  transform: translateY(0);
  height: auto;
  opacity: 1;
  visibility: visible;
}
.review__create.active {
  height: auto;
  opacity: 1;
}

.review__creator {
  overflow: hidden;
  border-radius: 4px;
}
.review__creator .close-icon svg {
  width: 2rem;
  height: 2rem;
}

.review__button {
  position: relative;
  z-index: 10;
  overflow: hidden;
  background-color: #fff;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  transition: 0.3s all;
  height: auto;
  transition: transform 1s;
}

.banner {
  padding: 15rem 10rem;
  text-align: center;
  background-color: #f9ca24;
  height: 100%;
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.banner__content {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.banner p {
  width: 70%;
  font-size: 1.6rem;
}
.banner__svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.big-logo {
  width: 10rem;
  height: 10rem;
}
.big-logo img {
  width: 100%;
}

.advantage {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.advantage__item {
  display: flex;
  align-items: center;
  border-radius: 50px;
  padding: 0.5rem 2rem;
  transition: 0.3s all ease;
  cursor: pointer;
}
.advantage__item:not(:first-child) {
  margin-top: 1rem;
}
.advantage__item:hover {
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.095);
}
.advantage__link {
  color: #222f3e;
  margin-right: 1.5rem;
}
.advantage svg {
  width: 4rem;
  height: 4rem;
}
.advantage .receipt-icon, .advantage .hq-icon {
  width: 5rem;
  height: 5rem;
}

.level {
  position: relative;
  padding: 1.5rem 3rem;
}
@media only screen and (max-width: 50em) {
  .level {
    padding: 1.5rem 1rem;
    text-align: center;
  }
}
.level:hover .level__number {
  border: 4px solid #f9ca24;
  background-color: #222f3e;
  transition: 0.3s all ease;
  color: white;
}
.level .block__content {
  padding: 1rem;
}
@media only screen and (max-width: 50em) {
  .level .block__content {
    padding: 3rem;
  }
}
.level__number {
  background-color: #f9ca24;
  color: #222f3e;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border: 4px solid #222f3e;
}
@media only screen and (max-width: 50em) {
  .level__number {
    top: 0%;
    right: 50%;
    transform: translate(50%, 0);
  }
}

.levels {
  display: flex;
  align-items: center;
}
.levels .banner {
  background-image: url(../images/haireservice3.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 6rem 10rem;
  border-radius: 4px;
  position: relative;
  margin: 0 1rem;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.095);
}
.levels .banner::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  border-radius: 4px;
  z-index: 9;
}

.z-10 {
  position: relative;
  z-index: 10;
}

.faq__item {
  padding: 2rem 4rem;
  background-color: #f6f6f6;
  margin-top: 1.5rem;
  border-radius: 4px;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.095);
  font-family: 1.1rem !important;
  border-top: 3px solid #222f3e;
  cursor: pointer;
}
.faq__item.active {
  border-top: 3px solid #f9ca24;
}
.faq__item:target .faq__answer {
  max-height: 20rem;
}
.faq__answer {
  color: #6D6D6D;
  font-size: 1.4rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 650ms;
}
.faq__question {
  color: #222f3e;
}

.nav {
  color: white;
}
.nav__top {
  height: 5rem;
  background-color: #222f3e;
  display: flex;
  align-items: center;
}
.nav__top-numbers {
  margin-left: auto;
}
.nav__top-numbers span {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  margin-left: 0.5rem;
  padding: 0 1rem;
}
.nav__top-socials {
  display: flex;
}
.nav__bottom {
  background-color: #f6f6f6;
  padding: 1rem 0;
  display: flex;
  position: relative;
}
.nav__bottom .row {
  display: flex;
  align-items: center;
}
.nav__menu {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 37.5em) {
  .nav__menu {
    display: none;
  }
}
.nav__menu-item {
  font-size: 1.4rem;
  position: relative;
}
.nav__menu-item:not(:last-child) {
  margin-left: 1rem;
}
.nav__menu-item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.4rem;
  background-color: #f9ca24;
  bottom: -0.5rem;
  border-radius: 50px;
  opacity: 0;
  visibility: hidden;
}
.nav__menu-item:hover .nav__menu-item::before {
  opacity: 1;
  visibility: visible;
}
.nav__link {
  color: #222f3e;
}
.nav__logo {
  width: 6rem;
  margin-right: 2rem;
}
.nav__logo img {
  width: 100%;
}
.nav .social svg {
  fill: white;
}
.nav .btn-contact {
  margin-right: auto;
}

.article__img {
  width: 100%;
  height: 25rem;
  object-fit: cover;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.article__item {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.095);
  margin-top: 2rem;
}
.article__header {
  padding: 1rem 3rem;
}

.articles {
  display: flex;
  gap: 1rem;
}

.footer {
  position: relative;
}
.footer__link {
  color: white;
}
.footer__section {
  margin: 0 auto;
  color: white;
  font-size: 1.4rem;
  text-align: right;
}
@media only screen and (max-width: 50em) {
  .footer__section {
    margin: 2rem 0;
  }
}
.footer__section h4 {
  margin-bottom: 1rem;
}
.footer__logo {
  color: white;
  align-self: start !important;
  justify-self: flex-start;
}
.footer__logo .big-logo {
  margin-bottom: 3rem;
}

html,
body {
  transition: 1.5s all ease;
}

.sidenav {
  background-color: #fff;
  width: 25rem;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  height: 100%;
  padding: 1.5rem 3rem;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.095);
  transform: translateX(100%);
  transition: 0.3s all ease;
  z-index: 11000;
}
.sidenav__logo {
  padding: 3rem 0;
}
.sidenav__menu {
  padding: 3rem 0;
}
.sidenav__menu-item {
  padding: 1rem 0;
  border-bottom: 1px solid #dedede;
  cursor: pointer;
}
.sidenav__menu-item svg {
  width: 1.5rem;
  height: 1.5rem;
}
.sidenav__menu-item:hover > .sidenav__submenu {
  display: block;
}
.sidenav__link {
  font-size: 1.4rem;
  color: #222f3e;
  width: 100%;
}
.sidenav__footer-item {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.sidenav__footer-item .contact-numbers {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.sidenav__footer-item .email {
  border-bottom: 1px solid #f9ca24;
}
.sidenav__submenu {
  margin-top: 1rem;
  margin-right: 1rem;
  border-right: 1px solid #dedede;
  padding-right: 0.5rem;
  transition: 0.3s all ease;
  display: none;
}
.sidenav__submenu.active {
  display: block;
}
.sidenav__submenu-item {
  transition: 0.3s all ease;
}
.sidenav__submenu-link {
  font-size: 1.3rem;
}

.menu-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-80%);
  display: none;
}
@media only screen and (max-width: 37.5em) {
  .menu-icon {
    display: block;
  }
}
.menu-icon svg {
  width: 4rem;
  height: 4rem;
  fill: #222f3e;
}

.close-icon {
  position: absolute;
  left: 2rem;
  cursor: pointer;
}
.close-icon svg {
  fill: #222f3e;
  width: 3rem;
  height: 3rem;
}

main,
aside {
  padding: 2rem 1rem;
}

.article-main {
  padding-bottom: 10rem;
}
.article-main__img:not(:first-child) {
  margin: 1rem 0;
}
.article-main__img img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  object-fit: cover;
}
.article-main__additional {
  border-bottom: 1px solid #f6f6f6;
  font-size: 1.3rem;
  color: #afafaf;
  padding-bottom: 1rem;
}
.article-main p {
  margin-top: 2rem;
}
@media only screen and (max-width: 37.5em) {
  .article-main p {
    text-align: justify;
  }
}
.article-main__link {
  color: #f9ca24;
}
.article-main__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 37.5em) {
  .article-main__wrap {
    flex-direction: column;
  }
  .article-main__wrap .article-main__img {
    width: 60%;
    margin: 1rem 0;
  }
}
.article-main__wrap > * {
  width: 48%;
}
@media only screen and (max-width: 37.5em) {
  .article-main__wrap > * {
    width: 100%;
  }
}
.article-main__wrap p {
  margin: 0;
  padding: 2rem 0;
  position: relative;
}
.article-main__wrap p.lined::before, .article-main__wrap p.lined::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #f9ca24;
}
.article-main__wrap p.lined::after {
  bottom: -1rem;
  right: 0;
}
.article-main__wrap p.lined::before {
  left: 0;
  top: -1rem;
}
.article-main__wrap .lined {
  position: relative;
}
.article-main h3 {
  margin-top: 3rem;
  font-weight: 600;
}
.article-main__ad {
  background-color: #dcdde1;
  padding: 1.5rem 3rem;
  border-radius: 4px;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.095);
  margin: 2rem 0;
}
.article-main-list--item {
  margin-bottom: 1rem;
}
.article-main-list--item svg {
  margin-left: 0.5rem;
}
.article-main-list--sub {
  color: #8b8b8b;
  font-size: 1.4rem;
}
.article-main .circled {
  list-style: georgian;
}
.article-main__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
}
.article-main__tags-item {
  font-size: 1.2rem;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  color: #b2bec3;
  padding: 0.2rem;
}

.subject-related {
  border-radius: 4px;
}
.subject-related a {
  font-size: 1.3rem;
  color: #0097e6;
}

.aside .reviewPannel {
  padding: 11rem 5rem;
  color: white;
  font-size: 1.3rem;
}
.aside .owl-stage {
  display: flex;
  align-items: center;
  justify-content: center;
}
.aside .owl-stage-outer {
  overflow: hidden;
  position: relative;
}
.aside .owl-nav .owl-next,
.aside .owl-nav .owl-prev {
  color: white;
  font-size: 3rem;
  background-color: transparent;
  outline: none;
  border: none;
  color: #f9ca24;
}
.aside .owl-nav .owl-prev {
  margin-left: 3rem;
}
.aside .infoPannel {
  padding: 5rem 4rem;
}
.aside .infoPannel__item {
  padding: 0.5rem 0;
  border-top: 1px solid #e6e6e6;
}
.aside .infoPannel__link {
  color: #222f3e;
  font-size: 1.3rem;
}

.wrapper {
  position: relative;
}
.wrapper .owl-nav {
  position: absolute;
  width: 10rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.wrapper .owl-next,
.wrapper .owl-prev {
  color: white;
  font-size: 3rem;
  background-color: transparent;
  outline: none;
  border: none;
  color: #f9ca24;
}
.wrapper .owl-next {
  position: absolute;
  left: 0;
}
.wrapper .owl-prev {
  position: absolute;
  right: 0;
}

.contact__number .level__number {
  right: 50%;
  top: 0;
  transform: translate(50%, 0);
}
.contact__number .level svg {
  width: 4.5rem;
  height: 4.5rem;
  margin: 2rem 0;
}
.contact__number .level p {
  font-size: 2rem;
}
.contact__number .level .block__content {
  padding: 3rem;
}
.contact__form {
  width: 100%;
}
.contact__form .form__label {
  text-align: right !important;
}
.contact__form .form__input,
.contact__form .form__textarea {
  border: 1px solid #e5e5e5;
  border-radius: 8px;
}

.home-header {
  height: 90vh;
  width: 100%;
  background-image: url(../images/h1.png);
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}
@media only screen and (max-width: 37.5em) {
  .home-header {
    height: 55vh;
  }
}
@media only screen and (max-width: 50em) {
  .home-header .ctPanel {
    display: none;
  }
}

.home-representation {
  background-image: url(../images/FZ.png);
  background-size: cover;
  background-position: center center;
  position: relative;
}
.home-representation::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  top: 0;
  z-index: 8;
}
.home-representation .heading-2 {
  z-index: 10;
  font-weight: 400;
  position: relative;
}

.home-about svg {
  width: 5rem;
  height: 5rem;
}
.home-about .block__content {
  display: grid;
  align-items: center;
  grid-template-columns: min-content minmax(min-content, 30rem);
  grid-column-gap: 2rem;
  grid-template-rows: repeat(2, min-content);
}
@media only screen and (max-width: 37.5em) {
  .home-about .block__content {
    display: inline;
  }
}
.home-about .block__content svg {
  grid-row: 1/-1;
}
.home-about .btn-contact {
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.233);
  background-image: linear-gradient(to right bottom, #f9ca24, #f8d55d);
}

@media only screen and (max-width: 50em) {
  .home-reviews .banner-holder {
    display: none;
  }
}

.home-advantage img {
  width: 70%;
}
@media only screen and (max-width: 50em) {
  .home-advantage .col-6 {
    width: 50%;
  }
}
@media only screen and (max-width: 37.5em) {
  .home-advantage .col-6 {
    width: 100%;
  }
}

.home-faq > * {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-faq .img-fluid {
  width: 60%;
}
.home-faq .col-6 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-ad .img-fluid {
  width: 90%;
}
@media only screen and (max-width: 50em) {
  .home-ad .img-fluid {
    width: 100%;
  }
  .home-ad .img-fluid .heading-2 {
    padding-top: 2rem;
  }
}