<!-- Reusable head template for all pages -->
<meta charset="UTF-8">
<meta name="description" content="تعمیر لباسشویی در محل-ما لباسشویی شما را در منزل خودتان در کمترین زمان تعمیر می کنیم-سریع ترین و با کیفیت ترین خدمات را از ما بخواهید-تعمیرمستر مرکز تخصصی تعمیرات ماشین لباسشویی">
<meta name="robots" content="NOINDEX,FOLLOW">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
<meta name="viewport" content="width=device-width" />
<title>مرکز تخصصی تعمیرات ماشین لباسشویی</title>

<link href="static/icons/handyman-icon.svg" rel="shortcut icon" />

<!-- Critical CSS for FOUC prevention -->
<link rel="stylesheet" href="assets/css/critical.css">

<!-- Vite will handle CSS compilation and injection -->
<script type="module" src="/main.js"></script>
