main,
aside {
  padding: 1rem 0;
}

.article-main {
  padding-bottom: 10rem;

  &__img {
    &:not(:first-child) {
      margin: 1rem 0;
    }

    img {
      width: 100%;
      height: auto;
      border-radius: 4px;
      object-fit: cover;
    }
  }

  &__additional {
    border-bottom: 1px solid #f6f6f6;
    font-size: 1.3rem;
    color: #afafaf;
    padding-bottom: 1rem;
  }

  p {
    @media only screen and (max-width: $bp-medium) {
      text-align: justify;
    }
  }

  &__link {
    color: color("primary", "base");
  }

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media only screen and (max-width: $bp-medium) {
      flex-direction: column;

      .article-main__img {
        width: 60%;
        margin: 1rem 0;
      }
    }

    & > * {
      width: 48%;

      @media only screen and (max-width: $bp-medium) {
        width: 100%;
      }
    }

    p {
      position: relative;
      line-height: 2.8 !important;

      &.lined::before,
      &.lined::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 1px;
        background-color: color("primary", "base");
      }

      &.lined::after {
        bottom: -1rem;
        right: 0;
      }

      &.lined::before {
        left: 0;
        top: -1rem;
      }
    }

    .lined {
      position: relative;
    }
  }

  h3 {
    font-weight: 600;
  }

  &__ad {
    background-color: #dcdde1;
    padding: 1.5rem 3rem;
    border-radius: 4px;
    box-shadow: $depth-1;
  }

  &-list--item {
    font-size: 1.3rem;
    margin-top:.5rem;

    svg {
      margin-left: 0.5rem;
    }
  }

  &-list--sub {
    color: #8b8b8b;
    font-size: 1.4rem;
  }

  .circled {
    list-style: georgian;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  &__tags-item {
    font-size: 1.2rem;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    color: #b2bec3;
    padding: 0.2rem;
  }
}

.subject-related {
  border-radius: 4px;

  a {
    font-size: 1.3rem;
    color: #0097e6;
  }
}

// .aside {
//   .reviewPannel {
//     padding: 11rem 5rem;
//     color: white;
//     font-size: 1.3rem;
//   }
// }

.infoPannel {
  padding: 3 2rem;

  &__item {
    padding: 0.5rem 0;
    border-top: 1px solid #e6e6e6;
  }

  &__link {
    color: color("secondary", "lighten-3");
    font-size: 1.3rem;
  }
}
