<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="UTF-8">
    <meta name="description"
        content="تعمیر لباسشویی در محل-ما لباسشویی شما را در منزل خودتان در کمترین زمان تعمیر می کنیم-سریع ترین و با کیفیت ترین خدمات را از ما بخواهید-آنی تعمیر مرکز تخصصی تعمیرات ماشین لباسشویی">
    <meta name="robots" content="NOINDEX,FOLLOW">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />

    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
    <meta name="viewport" content="width=device-width" />
    <title>مرکز تخصصی تعمیرات ماشین لباسشویی</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
        integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css"
        integrity="sha512-OTcub78R3msOCtY3Tc6FzeDJ8N9qvQn1Ph49ou13xgA9VsH9+LRxoFU6EqLhW4+PKRfU+/HReXmSZXHEkpYoOA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="css/style.css">
    <link href="image/icons/AniTamir1.png" rel="shortcut icon" />

</head>

<body>
</body>

<div class="nav">
    <div class="nav__top">
        <div class="container">
            <div class="row">
                <div class="nav__top-numbers">
                    <span>۰۹۳۶۹۲۳۶۴۲۰</span>
                    <span>۰۹۳۶۹۲۳۶۴۲۰</span>
                </div>

                <div class="nav__top-socials">
                    <div class="social d-flex">
                        <div class="social__item">
                            <svg class="instagram-icon">
                                <use xlink:href="images/sprite.svg#icon-instagram"></use>
                            </svg>
                        </div>
                        <div class="social__item mr-1">
                            <svg class="instagram-icon">
                                <use xlink:href="images/sprite.svg#icon-paper-plane"></use>
                            </svg>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="nav__bottom">
        <div class="container">
            <div class="row">


                <ul class="nav__menu">
                    <li class="nav__menu-item">
                        <a href="" class="nav__link">صفحه اصلی</a>
                    </li>
                    <li class="nav__menu-item">
                        <a href="" class="nav__link">نمایندگی ها</a>
                    </li>
                    <li class="nav__menu-item">
                        <a href="" class="nav__link">مقالات </a>
                    </li>
                    <li class="nav__menu-item">
                        <a href="" class="nav__link">تماس با ما</a>
                    </li>

                </ul>

                <a href="" class="btn bg-orange btn-contact">گزارش تعمیر </a>


                <div class="nav__logo">
                    <img src="images/Anitamir-logo2.png" alt="">
                </div>

                <div class="menu-icon">
                    <svg>
                        <use xlink:href="images/sprite.svg#icon-menu"></use>
                    </svg>
                </div>



            </div>
        </div>
    </div>
</div>

<div class="sidenav">

    <div class="close-icon">
        <svg class="clear-icon">
            <use xlink:href="images/sprite.svg#icon-clear"></use>
        </svg>
    </div>

    <div class="sidenav__logo">
        <div class="big-logo z-10">
            <img src="images/Anitamir-logo2.png" alt="">
        </div>
    </div>

    <ul class="sidenav__menu">

        <li class="sidenav__menu-item">
            <a class="sidenav__link">
                صفحه اصلی
            </a>
        </li>

        <li class="sidenav__menu-item">
            <div class="d-flex ai-c jc-sw col-12">
                <a class="sidenav__link d-flex ai-c jc-sw">
                    نمایندگی ها

                    <svg class="down-icon">
                        <use xlink:href="images/sprite.svg#icon-angle-down"></use>
                    </svg>
                </a>


            </div>

            <ul class="sidenav__submenu">
                <li class="sidenav__submenu-item">
                    <a class="sidenav__submenu-link">
                        نمایندگی تعمیر لباسشویی بوش
                    </a>
                </li>
                <li class="sidenav__submenu-item">
                    <a class="sidenav__submenu-link">
                        نمایندگی تعمیر
                    </a>
                </li>
                <li class="sidenav__submenu-item">
                    <a class="sidenav__submenu-link">
                        نمایندگی تعمیر لباسشویی بوش
                    </a>
                </li>

            </ul>

        </li>

        <li class="sidenav__menu-item">
            <a href="" class="sidenav__link">
                مقالات
            </a>
            <ul class="sidenav__submenu">
                <li class="sidenav__submenu-item">
                    <a class="sidenav__submenu-link">
                        نمایندگی تعمیر لباسشویی بوش
                    </a>
                </li>
                <li class="sidenav__submenu-item">
                    <a class="sidenav__submenu-link">
                        نمایندگی تعمیر
                    </a>
                </li>
                <li class="sidenav__submenu-item">
                    <a class="sidenav__submenu-link">
                        نمایندگی تعمیر لباسشویی بوش
                    </a>
                </li>

            </ul>
        </li>

        <li class="sidenav__menu-item">
            <a href="" class="sidenav__link">
                تماس با ما
            </a>
        </li>


    </ul>

    <div class="sidenav__footer">
        <div class="sidenav__footer-item">
            <span>شماره تماس</span>
            <div class="contact-numbers">
                <a class="btn bg-black mt-1">۰۹۳۶۹۲۳۶۴۲۰</a>
                <a class="btn bg-black mt-1">۰۹۳۶۹۲۳۶۴۲۰</a>
            </div>
        </div>

        <div class="sidenav__footer-item mt-2">
            <div class="email d-flex ai-c">
                <span>ایمیل : </span>
                <p> anitamir@yahoo.com </p>
            </div>
        </div>


    </div>

</div>

<a href="" class="btn-fixed">
    <svg class="phone-icon">
        <use xlink:href="images#sprite.svg#icon-phone"></use>
    </svg>
</a>

<main>
    <div class="container">
        <h2 class="heading-2 text-center">
            آنچه مردم در مورد آنی تعمیر می گویند
        </h2>
        <h3 class="heading-sub text-center">آیا می خواهید در مورد تفاوت های آنی تعمیر بدانید؟ آن را مستقیماً از مشتریان
            ما بشنوید! برخی از بررسی های زیر را بررسی کنید تا درباره نحوه کار با تیم حرفه ای تعمیر ماشین لیاسشویی ما
            بیشتر بدانید. اگر قبلاً با ما کار کرده‌اید، مااز شما را درخواست می کنیم که نظر خود را بنویسید!</h3>

        <div class="col-12 review__creator mt-2">
            <div class="col-12 text-center">
                <div class="review__button">
                    <svg class="heart-icon">
                        <use xlink:href="images/sprite.svg#icon-favorite"></use>
                    </svg>

                    <p>
                        تجربه ی خود را با ما به اشتراگ بگذارید
                    </p>

                </div>
            </div>

            <div class="col-12">
                <div class="review__create">

                    <div class="close-icon">
                        <svg class="clear-icon">
                            <use xlink:href="images/sprite.svg#icon-clear"></use>
                        </svg>
                    </div>

                    <h3 class="heading-3">
                        نظر خود را بنویسید
                    </h3>
                    <p>تجربه ی خود را به اشتراک بگذارید</p>

                    <div class="reviewPannel__stars mt-2">
                        <svg class="star-o-icon" value="1">
                            <use xlink:href="images/sprite.svg#icon-star_outline"></use>
                        </svg>
                        <svg class="star-o-icon" value="2">
                            <use xlink:href="images/sprite.svg#icon-star_outline"></use>
                        </svg>
                        <svg class="star-o-icon" value="3">
                            <use xlink:href="images/sprite.svg#icon-star_outline"></use>
                        </svg>
                        <svg class="star-o-icon" value="4">
                            <use xlink:href="images/sprite.svg#icon-star_outline"></use>
                        </svg>
                        <svg class="star-o-icon" value="5">
                            <use xlink:href="images/sprite.svg#icon-star_outline"></use>
                        </svg>
                    </div>

                    <form class="form">
                        <label for="fullname" class="form__label">نام و نام خانوادگی</label>
                        <input type="text" name="fullName" class="form__input ">

                        <label for="email" class="form__label">ایمیل</label>
                        <input type="email" name="email" class="form__input ">

                        <label for="location" class="form__label">محل زندگی</label>
                        <input type="text" name="location" class="form__input ">

                        <label for="description" class="form__label">توضیحات</label>
                        <textarea name="description" class="form__textarea form__input"></textarea>

                        <a type="submit" class="submit btn btn-submit bg-orange" onclick="sendReview(event)"> ارسال</a>
                    </form>

                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-12" id="app">
                <div class="col-3" v-for="(review , index) in reviews" :key="review.index">
                    <!--
                                        <div class="reviewPannel__stars mt-2">
                                            <svg class="star-icon">
                                                <use xlink:href="images/sprite.svg#icon-star1"></use>
                                            </svg>
                                            <svg class="star-icon">
                                                <use xlink:href="images/sprite.svg#icon-star1"></use>
                                            </svg>
                                            <svg class="star-icon">
                                                <use xlink:href="images/sprite.svg#icon-star1"></use>
                                            </svg>
                                            <svg class="star-o-icon">
                                                <use xlink:href="images/sprite.svg#icon-star_outline"></use>
                                            </svg>
                                            <svg class="star-o-icon">
                                                <use xlink:href="images/sprite.svg#icon-star_outline"></use>
                                            </svg>
                                            
                                        </div>

                            </div> -->

                    <div class="review__item">
                        <div class="level">
                            <div class="block pd-1 mt-1 bg-black">
                                <div class="block__content text-center">
                                    <!--                                             
                                            <div class="reviewPannel__stars mt-2">
                                                <svg class="star-icon">
                                                    <use xlink:href="images/sprite.svg#icon-star1"></use>
                                                </svg>
                                                <svg class="star-icon">
                                                    <use xlink:href="images/sprite.svg#icon-star1"></use>
                                                </svg>
                                                <svg class="star-icon">
                                                    <use xlink:href="images/sprite.svg#icon-star1"></use>
                                                </svg>
                                                <svg class="star-o-icon">
                                                    <use xlink:href="images/sprite.svg#icon-star_outline"></use>
                                                </svg>
                                                <svg class="star-o-icon">
                                                    <use xlink:href="images/sprite.svg#icon-star_outline"></use>
                                                </svg>
                                                
                                            </div> -->
                                    <div class="reviewPannel__stars mt-2">
                                        <span v-for="star in review.stars">
                                            <svg class="star-icon" v-if="star <= review.stars">
                                                <use xlink:href="images/sprite.svg#icon-star1"></use>
                                            </svg>

                                        </span>
                                    </div>


                                    <p>
                                        {{review.description}}
                                    </p>

                                    <div class="review__location mt-2">
                                        {{review.location}}
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

</main>
<div class="popuop-flash ">
    درخواست شما ارسال شد. در اسرع وقت با شما تماس گرفته می شود.
</div>

<div class="loader-form">
    <img src="images/loader.gif" alt="">
</div>

<section class="section footer bg-black">

    <div class="container">
        <a class="btn-toTop">
            برگشت به بالا
        </a>

        <div class="row">
            <div class="col-3">

                <div class="footer__section footer__logo">
                    <div class="big-logo z-10">
                        <img src="images/Anitamir-logo2.png" alt="">
                    </div>

                    <h4>تعمیر تخصصی انواع لباسشویی در منزل</h4>

                    <p>با ما تماس بگیرید:
                    </p>

                    <a href="" class="btn bg-orange btn-contact mt-3">۰۹۳۶۹۲۳۶۴۲۰
                    </a>
                </div>

            </div>

            <div class="col-3 d-flex">
                <div class="footer__section">
                    <h4>لینک های سریع</h4>
                    <ul>
                        <li>
                            <a href="" class="footer__link">مناطق مورد پوشش</a>
                        </li>

                        <li>
                            <a href="" class="footer__link">سوالات متدوال</a>
                        </li>

                        <li>
                            <a href="" class="footer__link">تماس با ما</a>
                        </li>

                        <li>
                            <a href="" class="footer__link">درباره ی ما</a>
                        </li>

                        <li>
                            <a href="" class="footer__link">لینک های سریع</a>
                        </li>

                    </ul>
                </div>
            </div>


            <div class="col-3 d-flex">
                <div class="footer__section">
                    <h4>ما را دنبال کنید</h4>
                    <div class="social d-flex">
                        <div class="social__item">
                            <svg class="instagram-icon">
                                <use xlink:href="images/sprite.svg#icon-instagram"></use>
                            </svg>
                        </div>
                        <div class="social__item mr-1">
                            <svg class="instagram-icon">
                                <use xlink:href="images/sprite.svg#icon-paper-plane"></use>
                            </svg>
                        </div>
                    </div>

                    <div class="email d-flex ai-c">
                        <span>ایمیل : </span>
                        <p> anitamir@yahoo.com </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="copyright"></section>


<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.1.1/gsap.min.js" integrity="sha256-cyEXrJKjO3YNkpCjPxVBdi7pRJ3EF+okm1oN9Qc4rRY=" crossorigin="anonymous"></script> -->
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
    integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>


<script type="text/javascript" src="js/script.js"></script>
</body>

</html>