$breakpoints: (
  "xl": 187rem,
  "lg": 131.2rem,
  "md": 103.2rem,
  "sm": 74.8rem,
  "xs": 48rem,
);

/**
    * Container
    * *********************************/
$container-width-xl: 184rem;
$container-width-lg: 128rem;
$container-width-md: 100rem;
$container-width-sm: 72rem;

// Breakpoints
$bp-largest: 62.5em; //1000px
$bp-large: 50em; //800px
$bp-medium: 37.5em; //600px
