.contact-us {
  &__header {
    background-image: linear-gradient(rgba(#000 , 0.2) , rgba(#000 , 0.5)),
      url(/static/images/banner-1.jpg);
    min-height: 40rem;
    background-size: cover;
    background-position: center;
    padding-top: 3rem;
    background-attachment: fixed;
  }
}
